.container4 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.write-form {
  display: flex;
}
.input-form {
  display: flex;
  flex-direction: column;
}
.submit {
  /* padding-right: 100px; */
}
.write-form input,
textarea {
  border: 0;
  font-family: "Times New Roman", Times, serif;
}
.write-form input {
  font-size: 4vw;
  margin-bottom: 30px;
}
.write-form textarea {
  font-size: 3vw;
}
textarea,
input:focus {
  outline: none !important;
}

a.button3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
a.button3:hover {
  background-color: #4095c6;
}
@media all and (max-width: 30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}
